<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/head" />
<body>
	<!-- Barra de Navegación superior -->
	<nav th:replace="fragments/nav" />
	<div class="container">
		<h2 th:text="#{listRequest.message}"></h2>
		<div class="table-responsive">
			<table class="table table-hover" th:fragment="tableFriendshipRequest" id="tableFriendshipRequest">
				<thead>
					<tr>
						<th th:text="#{listRequestUsers.message}"></th>
						<th class="col-md-1"></th>
						<th class="col-md-1"></th>
						<th class="col-md-1"></th>
						<th class="col-md-1"></th>
						<th class="col-md-1"></th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="request : ${requestList}">
						<td th:text="${request.user1.name}"></td>
						<td th:text="${request.user1.email}"></td>
						<!-- <td><a
							th:href="${'/friendshipRequest/accept/' + request.user1.id}"
							th:text="#{listRequestAccept.message}"></a>
						</td> -->

						<td>
							<button type="button"
								th:id="${'friendshipRequestAcceptButton' + request.user1.id}"
								class="btn btn-info" th:text="#{listRequestAccept.message}"></button>
								
								<script th:inline="javascript">
								/*<![CDATA[*/
									$( "#friendshipRequestAcceptButton[[${request.user1.id}]]").click(function(){
										$.get("/friendshipRequest/accept/[[${request.user1.id}]]" , function(data){
											$("#tableFriendshipRequest").load('/friendshipRequest/listRequest/update');
										});
									});
								/*]]>*/
							</script>
						</td>
					</tr>
				</tbody>
			</table>
			<hr />
		</div>
		<footer th:replace="fragments/pagination" />
	</div>
	<footer th:replace="fragments/footer" />
</body>
</html>