<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/head" />
<body>
	<!-- Barra de Navegación superior -->
	<nav th:replace="fragments/nav" />
	<div class="container">
		<h2 th:text="#{listUsers.message}"></h2>
		<form class="navbar-form" action="/user/listUsuarios">
			<div class="form-group">
				<input th:id="searchUsers" name="searchText" type="text" class="form-control" size="50"
					th:placeholder="#{listUsersSearch.message}" >
			</div>
			<button type="submit" class="btn btn-default" th:text="#{listUsersSearchButton.message}"></button>
		</form>
		<p th:text="#{listUsersText.message}"></p>
		<div class="table-responsive">
			<table class="table table-hover" th:fragment="tableListUsers" id="tableListUsers">
				<thead>
					<tr>
						<th th:text="#{listUsersEmail.message}"></th>
						<th th:text="#{listUsersName.message}"></th>
						<th class="col-md-3"></th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="user : ${usersList}">
						<td th:text="${user.email}"></td>
						<td th:text="${user.name}"></td>
						<!--<td><a th:href="${'/friendshipRequest/add/' + user.id}" th:text="#{addFriend.message}"></a></td> -->
						<td>
							<button type="button" th:id="${'friendshipRequestButton' + user.id}"
								class="btn btn-info" th:text="#{addFriend.message}"></button>
								
							<script th:inline="javascript">
								/*<![CDATA[*/
									$( "#friendshipRequestButton[[${user.id}]]").click(function(){
										$("#tableListUsers").load('/friendshipRequest/add/[[${user.id}]]');
									});
								/*]]>*/
							</script>
						</td>
						<td th:if="${errorEnviado == user.id}" th:text="#{alreadySend.message}"></td>								 	
					</tr>
				</tbody>
			</table>
			<hr />
		</div>
		<footer th:replace="fragments/pagination" />
	</div>
	<footer th:replace="fragments/footer" />
</body>
</html>